<div class="body-area">
  <div class="body-area-header page-action-container">
    <div class="row w-100 align-items-center">
      <div class="col-6">
        <div class="body-header-title title-primary">
          {{ isEditMode ? 'Edit Item' : 'Add Item' }}
        </div>
      </div>
    </div>
  </div>

  <div class="body-area-content">
    <div class="view-container">
      <form [formGroup]="itemForm" (ngSubmit)="saveItem()" class="form-container">
        <div class="row">

          <!-- Category -->
          <div class="col-6">
            <div class="form-group">
              <label class="form-label">
                <span class="lbl-form-wrapper">
                  <span class="lbl-form">Category:</span><span class="text-danger">*</span>
                </span>
                <select formControlName="categoryId" class="form-select" required>
                  <option value="" disabled>Select Category</option>
                  @for (category of categories; track category.id) {
                  <option [value]="category.id">{{ category.name }}</option>
                  }
                </select>
              </label>
            </div>
          </div>

          <!-- Name -->
          <div class="col-6">
            <div class="form-group">
              <label class="form-label">
                <span class="lbl-form-wrapper">
                  <span class="lbl-form">Name:</span><span class="text-danger">*</span>
                </span>
                <input type="text" formControlName="name" class="form-control" placeholder="Enter Name" />
              </label>
            </div>
          </div>

          <!-- Short Code -->
          <div class="col-6">
            <div class="form-group">
              <label class="form-label">
                <span class="lbl-form-wrapper"><span class="lbl-form">Short Code:</span></span>
                <input type="text" formControlName="shortCode" class="form-control" placeholder="Enter Short Code" />
              </label>
            </div>
          </div>

          <!-- Price -->
          <div class="col-6">
            <div class="form-group">
              <label class="form-label">
                <span class="lbl-form-wrapper"><span class="lbl-form">Price:</span></span>
                <input type="number" formControlName="price" class="form-control" min="0" />
              </label>
            </div>
          </div>

          <!-- Description -->
          <div class="col-6">
            <div class="form-group">
              <label class="form-label">
                <span class="lbl-form-wrapper"><span class="lbl-form">Description:</span></span>
                <textarea formControlName="description" class="form-control" placeholder="Enter Description"></textarea>
              </label>
            </div>
          </div>

          <!-- Dietary -->
          <div class="col-6">
            <label class="form-label">
              <div class="form-group">
                <span class="lbl-form-wrapper">
                  <span class="lbl-form">Dietary:</span><span class="text-danger">*</span>
                </span>
                <select formControlName="dietary" class="form-select" required>
                  <option value="" disabled>Select Dietary</option>
                  @for (diet of dietaryOptions; track diet) {
                  <option [value]="diet">{{ diet }}</option>
                  }
                </select>
              </div>
            </label>
          </div>

          <!-- GST Type -->
          <div class="col-6">
            <label class="form-label">
              <div class="form-group">
                <span class="lbl-form-wrapper"><span class="lbl-form">GST Type:</span></span>
                <select formControlName="gstType" class="form-select">
                  <option value="" disabled>Select GST</option>
                  @for (gst of gstTypeOptions; track gst) {
                  <option [value]="gst">{{ gst }}</option>
                  }
                </select>
              </div>
            </label>
          </div>

          <!-- Status -->
          <div class="col-6">
            <label class="form-label">
              <span class="lbl-form-wrapper"><span class="lbl-form">Status:</span></span>
              <select formControlName="status" class="form-select">
                <option [value]="true">Active</option>
                <option [value]="false">Inactive</option>
              </select>
            </label>
          </div>

          <!-- Order Types -->
          <!-- <div class="col-6" formGroupName="orderTypes">
            <label class="form-label">
              <div class="form-group">
                <span class="lbl-form-wrapper">
                  <span class="lbl-form">Order Types:</span><span class="text-danger">*</span>
                </span>
                <div class="checkbox-group d-flex" [style.gap.px]="10">
                  @for (type of orderTypeOptions; track type) {
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" [formControlName]="type" [id]="'ot_' + type" />
                    <label class="form-check-label" [for]="'ot_' + type">{{ type }}</label>
                  </div>
                  }
                </div>
              </div>
            </label>
          </div> -->

          <div class="divider-horizontal"></div>

          <!-- Order Types -->
          <div class="col-12" formGroupName="orderTypes">
            <div class="form-label">
              <div class="form-group">
                <span class="lbl-form-wrapper">
                  <span class="lbl-form">Order Types:</span><span class="text-danger">*</span>
                </span>
                <div class="checkbox-group d-flex" [style.gap.px]="20">
                  @for (type of orderTypeOptions; track type) {
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" [formControlName]="type" [id]="'ot_' + type" />
                    <label class="form-check-label" [for]="'ot_' + type">{{ type }}</label>
                  </div>
                  }
                </div>
              </div>
            </div>
          </div>

          <div class="divider-horizontal"></div>

          <!-- Toggles -->
          <div class="col-12 d-flex" [style.gap.px]="20">
            @for (field of ['variation', 'addons', 'combo']; track $index) {
            <!-- <div class="col-6" *ngFor="let field of ['variation', 'addons', 'combo']"> -->
            <label class="form-label">
              <span class="lbl-form-wrapper me-2">
                <span class="lbl-form">Has {{ field.charAt(0).toUpperCase() + field.slice(1) }}:</span>
              </span>
              <input type="checkbox" class="form-check-input" [formControlName]="field" />
            </label>
            }
          </div>

          <!-- <div class="divider-horizontal"></div> -->

          <!-- Variations -->
          @if (itemForm.get('variation')?.value) {
          <div class="col-12">
            <div class="form-label">
              <span class="lbl-form-wrapper"><span class="lbl-form">Variations:</span></span>
              <div formArrayName="variations">
                @for (v of variations.controls; let i = $index; track i) {
                <div [formGroupName]="i" class="variation-row row mb-2">
                  <div class="col-4">
                    <select class="form-select" formControlName="name">
                      <option value="" disabled>Select Variation</option>
                      @for (av of availableVariations; track av.name) {
                      <option [value]="av.name">{{ av.name }}</option>
                      }
                    </select>
                  </div>
                  <div class="col-2">
                    <input type="number" formControlName="price" class="form-control" min="0" />
                  </div>
                  <div class="col-2">
                    <select class="form-select" formControlName="status">
                      <option [value]="true">Active</option>
                      <option [value]="false">Inactive</option>
                    </select>
                  </div>
                  <div class="col-2 d-flex align-items-center">
                    <label>
                      <input type="checkbox" formControlName="addons" class="form-check-input me-2" />
                      <span class="form-check-label">Add-ons</span>
                    </label>
                  </div>
                  <div class="col-2 d-flex align-items-center justify-content-center">
                    <!-- <button type="button" class="btn btn-danger" [disabled]="v.get('id')?.value"(click)="removeVariation(i)">Remove</button> -->
                    <a class="btn-common btn-list btn-delete" [ngClass]="{'disabled': v.get('id')?.value}"
                      (click)="removeVariation(i)">
                      <span class="icon-common icon-btn icon-trash"></span>
                    </a>
                  </div>

                  <!-- Add-ons inside Variation -->
                  @if (v.get('addons')?.value && v.get('itemAddons')) {
                  <div class="col-12" formArrayName="itemAddons">
                    @for (a of asFormArray(v.get('itemAddons')).controls; let j = $index; track j) {
                    <div [formGroupName]="j" class="row mt-2">
                      <div class="col-4 ps-4 d-flex align-items-center">
                        <span class="me-2">—</span>
                        <select class="form-select" formControlName="name">
                          <option value="" disabled>Select Add-on</option>
                          @for (addonName of availableAddons; track addonName) {
                          <option [value]="addonName">{{ addonName }}</option>
                          }
                        </select>
                      </div>
                      <div class="col-2">
                        <input type="number" formControlName="price" class="form-control" min="0" />
                      </div>
                      <div class="col-2">
                        <select formControlName="status" class="form-select">
                          <option [value]="true">Active</option>
                          <option [value]="false">Inactive</option>
                        </select>
                      </div>
                      <div class="col-2 d-flex align-items-center justify-content-center">
                        <!-- <button type="button" class="btn btn-danger" (click)="removeVariationAddon(i, j)"
                          [disabled]="a.get('id')?.value">Remove</button> -->
                        <a class="btn-common btn-list btn-delete" [ngClass]="{'disabled': a.get('id')?.value}"
                          (click)="removeVariationAddon(i, j)">
                          <span class="icon-common icon-btn icon-trash"></span>
                        </a>
                      </div>
                    </div>
                    }
                    <!-- <button type="button" class="btn btn-secondary mt-2" (click)="addVariationAddon(i)">Add Add-on</button> -->
                    <button class="btn-common btn-add-new" (click)="addVariationAddon(i)">
                      <span class="icon-common icon-add-new"></span>
                      <span class="lbl-ellipsis">Add Add-on</span>
                    </button>
                  </div>
                  <div class="divider-horizontal"></div>
                  }


                </div>
                }
                <!-- <button type="button" class="btn btn-secondary mt-2" (click)="addVariation()">Add Variation</button> -->
                <button class="btn-common btn-add-new" (click)="addVariation()">
                  <span class="icon-common icon-add-new"></span>
                  <span class="lbl-ellipsis">Add Variation</span>
                </button>
              </div>
              <div class="divider-horizontal"></div>
            </div>
          </div>
          }

          <!-- Item Add-ons -->
          @if (itemForm.get('addons')?.value) {
          <div class="col-12">
            <label class="form-label">
              <span class="lbl-form-wrapper"><span class="lbl-form">Add-ons:</span></span>
              <div formArrayName="itemAddons">
                @for (a of itemAddons.controls; let i = $index; track i) {
                <div [formGroupName]="i" class="row mt-2">
                  <div class="col-4">
                    <select formControlName="name" class="form-control">
                      <option value="" disabled>Select Add-on</option>
                      @for (addonName of availableAddons; track addonName) {
                      <option [value]="addonName">{{ addonName }}</option>
                      }
                    </select>
                  </div>
                  <div class="col-3">
                    <input type="number" formControlName="price" class="form-control" min="0" />
                  </div>
                  <div class="col-3">
                    <select formControlName="status" class="form-select">
                      <option [value]="true">Active</option>
                      <option [value]="false">Inactive</option>
                    </select>
                  </div>
                  <div class="col-2 d-flex align-items-center justify-content-center">
                    <!-- <button type="button" class="btn btn-danger" (click)="removeItemAddon(i)">Remove</button> -->
                    <a class="btn-common btn-list btn-delete" (click)="removeItemAddon(i)">
                      <span class="icon-common icon-btn icon-trash"></span>
                    </a>
                  </div>
                </div>
                }
              </div>
              <!-- <button type="button" class="btn btn-secondary mt-2" (click)="addItemAddon()">Add Add-on</button> -->
              <!-- <div class="divider-horizontal"></div> -->

              <button class="btn-common btn-add-new" (click)="addItemAddon()">
                <span class="icon-common icon-add-new"></span>
                <span class="lbl-ellipsis">Add Add-on</span>
              </button>
            </label>
            <div class="divider-horizontal"></div>
          </div>
          }

          <!-- Combo -->
          <!-- @if (itemForm.get('combo')?.value) {
          <div class="col-12">
            <div class="form-group">
              <label class="form-label">
                <span class="lbl-form-wrapper"><span class="lbl-form">Combo Items:</span></span>
                <ng-select formControlName="comboItemIds" [multiple]="true" [searchable]="true" [clearable]="true"
                  [closeOnSelect]="false">
                  @for (item of availableComboItems; track item.id) {
                  <ng-option [value]="item.id">{{ item.name }}</ng-option>
                  }
                </ng-select>
              </label>
            </div>
          </div>
          } -->

        </div>

        <!-- Buttons -->
        <div class="form-footer">
          <button type="button" class="btn btn-secondary btn-form-action" (click)="resetForm()">
            Reset
          </button>
          <button type="submit" class="btn btn-primary btn-form-action" [disabled]="itemForm.invalid || loading">
            {{ loading ? (isEditMode ? 'Updating...' : 'Saving...') : (isEditMode ? 'Update' : 'Save') }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
